@font-face {
  font: {
    family: myFonts;
    weight: normal;
  };
  src: url('../fonts/PingFangSC-Regular.woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: {
        family: myFonts;
    }
}


a {
    text-decoration: none;
    color: #777;
}